body {
    background-color: #0c1445;
    /* background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    color: white;
    outline: auto;
    background: linear-gradient(rgb(21, 13, 107) 1.1%, rgb(188, 16, 80) 130.5%);
    padding: 25px 250px;
    margin: 35px;
    border-radius: 20px;
    display: inline-block;
}

.main-body {
    display: inline-block;
}

nav {
    padding: 0 0 15px 0;
}

h2, h3 {
    color: rgb(194, 161, 202);
}

#facts-section h2, 
#links-section h2, 
#quotes-section h2 {
    text-decoration: underline;
}


.section-title {
    background-color: black;
    padding: 25px;
}

ul, li, a {
    color: rgb(255, 0, 242);
    font-weight: bolder;
    list-style-type: none;
    line-height: 1.5;
    display: inline;
    padding: 10px 20px;
}

a:hover {
    color: lime;
    transition-delay: 0.15s;
}

table {
    display: inline-block;
    line-height: 1.5;
    border: solid 2px;
    background-color: midnightblue;
}

.table {
    padding: 0px 0px 20px 0px;
}

th {
    text-align: center;
    border: solid 15px violet;
    padding: 10px 100px;
    text-decoration: underline;
}

tbody {
    text-align: center;
}

td {
    text-align: center;
    border: solid 2px;
}

.quote-sect {
    padding: 0px 0px 20px 0px;
}


blockquote {
    text-align: justify;
    padding: 5px;
    font-style: italic;
}

cite {
    color: violet;
}

.patF {
    text-align: end;
}

img {
    display: block;
    width: 400px;
    margin: auto;
    padding: 20px;
}

.links {
    padding: 0px 0px 20px 0px;
}

footer {
    font-size: smaller;
    padding: 30px 10px 10px 10px;
}

form {
    text-align: justify;
    background-color: midnightblue;
    padding: 25px;
    font-size: 25px;
    line-height: 1.5;
}

i {
    color: lightslategray;
}

span {
    color: white;
}